<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="BASE_DIR" value="logs" />

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<logger name="webdriver" level="OFF" />

	<logger name="net.lightbody" level="OFF" />
	<logger name="org.littleshoot" level="OFF" />
	<logger name="io.netty.handler" level="OFF" />

	<logger name="org.springframework" level="OFF" />

	<logger name="org.seleniumhq" level="OFF" />
	<logger name="org.openqa" level="OFF" />

	<logger name="org.apache" level="OFF" />
	<logger name="sun.net" level="OFF" />
	<logger name="freemarker.cache" level="OFF" />
	<logger name="io.github.bonigarcia" level="OFF" />
	<logger name="org.jboss" level="OFF" />
	<logger name="io.netty" level="OFF" />
	<logger name="com.ning.http.client" level="OFF"/>

	<logger name="javax" level="OFF" />
	<logger name="com.sun.mail" level="OFF" />
	<logger name="testng" level="OFF" />

	<root level="ALL">
		<appender-ref ref="STDOUT" />
		<!--<appender-ref ref="FILE-THREAD"/> -->
	</root>
</configuration>